<%- include("header")-%>

<h1 id="heading">Quick meals</h1>
<form  action="quickmeals" method="post">
<button class=" quickmeal btn btn btn-primary btn-lg"type="submit" name="button">Get 10 min quickmeals</button>
</form>


<%- include("footer")-%>
